

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.community-page{
    width: 150vh;
    height: 100vh;
    
background-color: blanchedalmond;
}


/* Tabs and medium screens */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .community-page{
        width: 100vh;
    }
}






/* mobiles & small screens */

@media screen and (max-width: 1000px) {
    .community-page{
        width: 60vh;
    }
}