
@import "tailwindcss";


.community-page{
    width: 100%;
    height: 100vh;
    
background-color: blanchedalmond;
}


/* Tabs and medium screens */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .community-page{
        width: 100vh;
    }
}






/* mobiles & small screens */

@media screen and (max-width: 1000px) {
    .community-page{
        width: 60vh;
    }
}