@import 'bootstrap/dist/css/bootstrap.min.css';

/* signupform css */

#singupForm {
  /* background-color: #f8f9fa; */
  background: transparent;
  padding: 20px;
  max-width: 450px; /* Make form a bit narrower */
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.close-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  margin-bottom: 10px;
}

.row.g-3 .col-md-6 {
  flex: 1;
  margin-bottom: 10px;
}

.date-picker-wrapper,
.select-wrapper {
  display: flex;
  width: 100%;
  gap: 10px; /* Space between items */
}

.date-picker-wrapper input,
.select-wrapper select,
.password-wrapper input {
  width: 100%; /* Full width for individual elements */
}

.password-wrapper {
  display: flex;
  gap: 10px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #287bb5;
}












































